<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Paciente</title>
    <link rel="stylesheet" href="styles.css"> <!-- Caso deseje estilizar -->
</head>
<body>
    <h1>Cadastro de Paciente</h1>
    <form id="cadastroPacienteForm">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required><br><br>

        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" id="dataNascimento" name="dataNascimento" required><br><br>

        <button type="submit">Cadastrar Paciente</button>
    </form>

    <script src="cadastroPaciente.js"></script>
</body>
</html>
