<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Consultas</title>
</head>
<body>
    <h1>Consultas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Status</th>
                <th>Sintomas</th>
                <th>Diagnóstico</th>
                <th>Observações</th>
                <th>Médico</th>
                <th>Paciente</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="consulta : ${consultas}">
                <td th:text="${consulta.id}"></td>
                <td th:text="${consulta.data}"></td>
                <td th:text="${consulta.horario}"></td>
                <td th:text="${consulta.status}"></td>
                <td th:text="${consulta.sintomas}"></td>
                <td th:text="${consulta.diagnostico}"></td>
                <td th:text="${consulta.observacoes}"></td>
                <td th:text="${consulta.medico.nome}"></td>
                <td th:text="${consulta.paciente.nome}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
